<footer class="navbar-light border-top pt-4">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-3 mb-3">
                <h5>{{ .Site.Title }}</h5>
                {{ .Site.Params.description }}
            </div>
            <div class="col-12 col-md-3 mb-3">
                <h5>{{ i18n "social" }}</h5>
                <ul class="list-unstyled list-inline">
                    {{- partial "social.html" . -}}
                </ul>
            </div>
            <div class="col-12 col-md-3 mb-3">
                <ul class="list-unstyled">
                    {{ range $index, $element := .Site.Menus.footer }}
                        {{ if .HasChildren }}
                            <li>{{if .URL}}
                                <a href="{{ .URL }}">{{ .Pre }} {{ .Name }}</a>
                                {{ else }}
                                <span><h5>{{.Pre }} {{ .Name }}</h5></span>
                                {{ end }}
                            </li>
                            {{ range .Children }}
                                <li><a href="{{ .URL }}">{{ .Pre }} {{ .Name }}</a></li>
                            {{ end }}
                            <br>
                        {{ else }}
                            <li><a href="{{ .URL }}">{{ .Pre }} {{ .Name }}</a></li>
                        {{ end }}
                    {{ end }}
                </ul>
            </div>
            <div class="col-12 col-md-3 mb-3">
                <ul class="list-unstyled">
                    {{ range $index, $element := .Site.Menus.footer2 }}
                        {{ if .HasChildren }}
                            <li>{{if .URL}}
                                <a href="{{ .URL }}">{{ .Pre }} {{ .Name }}</a>
                                {{ else }}
                                <h5>{{.Pre }} {{ .Name }}</h5>
                                {{ end }}
                            </li>
                            {{ range .Children }}
                                <li><a href="{{ .URL }}">{{ .Pre }} {{ .Name }}</a></li>
                            {{ end }}
                        {{ else }}
                            <li><a href="{{ .URL }}">{{ .Pre }} {{ .Name }}</a></li>
                        {{ end }}
                    {{ end }}
                </ul>
            </div>
        </div>
    </div>
    {{ with .Site.Params.privacyNotice}} 
        <div class="container mb-3">
            {{ . | markdownify }}
        </div>
    {{ end }}
    <div class="container mb-5">
        {{ partial "i18nlist.html" . }}

        &copy; {{ .Site.Params.startYear }}-{{ now.Format "2006" }} {{ with .Site.Params.author }}{{ . }}{{ end }}<br/>
    </div>
</footer>
